@import 'src/styles/variables';
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999999;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.modal__content {
	background-color: #ffff;
	transform: scale(0.5);
	transition: 0.4s all;
	width: 100%;
	height: 100%;
	padding: 10% 30px;

	&.active {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: -240px;
	right: 0;

	z-index: 99999999;
	cursor: pointer;

	svg {
		width: 30px;

		path {
			fill: $green;
		}
	}
}
