@import 'src/styles/variables';

.favorites_block {
	grid-area: C;
	min-height: 472px;
	max-width: 360px;
	margin-bottom: 30px;

	.favorites {
		margin-top: 32px;
		height: 330px;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	@media (max-width: 767px) {
		//display: none;
		max-width: 100%;
	}
}
