@import 'src/styles/variables';

.hotels_block {
	grid-area: B;
	margin-bottom: 30px;
	max-width: 664px;
	.info {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			color: $text-color;
			font-weight: 500;
			font-size: 32px;
			line-height: 38px;

			&.date {
				font-weight: 400;
				font-size: 24px;
				line-height: 28px;
				color: $green;
			}

			img {
				margin: 0 20px;
				width: 8.67px;
				height: 17.33px;
			}
		}
	}

	.carousel {
		margin: 28px 0;
		position: relative;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 164px;

		&::-webkit-scrollbar {
			width: 0;
			color: $green;
		}

		.carousel_inner {
			position: absolute;

			display: flex;
			justify-content: center;
			height: 100%;

			.carousel_item {
				img {
					border-radius: 10px;
					width: 164px;
					height: 149px;
				}
			}
		}
	}

	.add_count {
		p {
			font-weight: 300;
			font-size: 17px;
			line-height: 22px;
			color: $text-color;

			span {
				margin-left: 8px;
				font-weight: 500;
				color: $green;
			}
		}
	}

	.hotels_items {
		margin-top: 16px;
		height: 563px;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 2px;
			background-color: #e7e7e7;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $green;
		}
	}

	@media (max-width: 992px) {
		.info {
			span {
				font-size: 28px;
				&.date {
					font-size: 20px;
				}
				img {
					margin: 0 10px;
					width: 6.67px;
					height: 15.33px;
				}
			}
		}
	}
	@media (max-width: 767px) {
		max-width: 767px;
		.info {
			span {
				font-size: 24px;
				&.date {
					font-size: 16px;
				}
				img {
					margin: 0 7px;
					width: 4.67px;
					height: 13.33px;
				}
			}
		}
	}
	@media (max-width: 576px) {
		.info {
			span {
				font-size: 20px;
				&.date {
					font-size: 12px;
				}
				img {
					margin: 0 7px;
					width: 3.67px;
					height: 11.33px;
				}
			}
		}
	}
}
