.search_block {
	grid-area: A;
	max-width: 360px;
	.date {
		margin-top: 16px;
	}

	.count_day {
		margin-top: 20px;
	}

	.btn {
		margin-top: 32px;
	}

	label {
		font-weight: 500;
	}
	@media (max-width: 767px) {
		max-width: 767px;
	}
}
